In [1]:
import pandas as pd

In [2]:
df2018 = pd.read_csv('Compustat_fy2018.csv')

In [3]:
df2018.shape
#How many observations are there?
#There are 4646 observations.

(4645, 11)

In [4]:
df2018.columns
#How many variables are there? What are those variables?
#There are 11, They are tic which is the ticker symbol, conm which is the company name, 
#datadate which is when the statement was filed, there is fyear which is the financial year of the report,
#at which is total assets, lt which is totla liabilites, teq which is total equities, revt, which is total revenues,
#ni which is net income, exchg which is the code for which exhange the company is traded on, and sic whihc is the code for which 
#industry the company operates in.

Index(['tic', 'conm', 'datadate', 'fyear', 'at', 'lt', 'teq', 'revt', 'ni',
       'exchg', 'sic'],
      dtype='object')

In [5]:
df2018[df2018['tic'] == "GM"]
#Find out the SIC industry code for General Motors Co. (tic == 'GM')
#The SIC industry code is 3711.

,tic,conm,datadate,fyear,at,lt,teq,revt,ni,exchg,sic
278,GM,GENERAL MOTORS CO,31DEC2018,2018,227339.0,184562.0,42777.0,147049.0,8014.0,11.0,3711.0

In [6]:
df2018['roe'] = df2018['ni']/ df2018['teq']

In [7]:
df2018['ato'] = df2018['revt']/ df2018['at']

In [8]:
#comparing GM to average
df2018[df2018['sic'] == 3711].sort_values(by = 'roe', ascending = False)

,tic,conm,datadate,fyear,at,lt,teq,revt,ni,exchg,sic,roe,ato
4300,WKHS,WORKHORSE GROUP INC,31DEC2018,2018,11.805,27.227,-15.422,0.763,-36.502,14.0,3711.0,2.366878,0.064634
1766,RACE,FERRARI NV,31DEC2018,2018,5554.737,4004.730,1550.007,3915.917,898.376,11.0,3711.0,0.579595,0.704969
506,PCAR,PACCAR INC,31DEC2018,2018,25482.400,16889.500,8592.900,23495.700,2195.100,14.0,3711.0,0.255455,0.922036
731,LCII,LCI INDUSTRIES,31DEC2018,2018,1243.893,537.638,706.255,2475.807,148.551,11.0,3711.0,0.210336,1.990370
725,OSK,OSHKOSH CORP,30SEP2018,2018,5294.200,2780.700,2513.500,7705.500,471.900,11.0,3711.0,0.187746,1.455461
278,GM,GENERAL MOTORS CO,31DEC2018,2018,227339.000,184562.000,42777.000,147049.000,8014.000,11.0,3711.0,0.187344,0.646827
245,FSS,FEDERAL SIGNAL CORP,31DEC2018,2018,1023.800,493.700,530.100,1089.500,94.000,11.0,3711.0,0.177325,1.064173
2801,RONN,RONN MOTOR GROUP -REDH,31DEC2018,2018,0.006,2.134,-2.283,0.000,-0.338,14.0,3711.0,0.148051,0.000000
932,FCAU,FIAT CHRYSLER AUTOMOBILES NV,31DEC2018,2018,110909.664,82398.279,28511.385,126410.433,4130.791,11.0,3711.0,0.144882,1.139760
261,F,FORD MOTOR CO,31DEC2018,2018,256540.000,220474.000,35966.000,160338.000,3677.000,11.0,3711.0,0.102235,0.625002
1276,TM,TOYOTA MOTOR CORP,31MAR2019,2018,468714.000,283120.000,185594.000,272776.000,16992.000,11.0,3711.0,0.091555,0.581967
605,SHYF,THE SHYFT GROUP INC,31DEC2018,2018,353.784,167.702,186.082,816.164,15.012,14.0,3711.0,0.080674,2.306956
322,HMC,HONDA MOTOR CO LTD,31MAR2019,2018,184275.838,106972.410,77303.428,143389.525,5507.900,11.0,3711.0,0.071250,0.778124
349,NAV,NAVISTAR INTERNATIONAL CORP,31OCT2018,2018,7230.000,11156.000,-3926.000,10250.000,340.000,11.0,3711.0,-0.086602,1.417704
4301,TSLA,TESLA INC,31DEC2018,2018,29739.614,23426.010,5757.640,21461.268,-976.091,14.0,3711.0,-0.169530,0.721639
4472,TTM,TATA MOTORS LTD,31MAR2019,2018,43114.505,35059.656,8054.849,43208.936,-4231.066,11.0,3711.0,-0.525282,1.002190
2359,FUV,ARCIMOTO INC,31DEC2018,2018,14.085,6.018,8.067,0.095,-11.051,14.0,3711.0,-1.369902,0.006745
2594,NIO,NIO INC -ADR,31DEC2018,2018,2739.605,1554.590,991.758,719.874,-1404.595,11.0,3711.0,-1.416268,0.262766

In [9]:
df2018[df2018['sic'] == 3711].describe()
#We would say they outperformed the indsutry average since their industry average roe was .057 and GM's was .187
#look at describe

,fyear,at,lt,teq,revt,ni,exchg,sic,roe,ato
count,18.0,18.000000,18.00000,18.000000,18.000000,18.000000,18.000000,18.0,18.000000,18.000000
mean,2018.0,76087.829778,54090.68300,21949.959222,53616.804556,1990.277056,12.000000,3711.0,0.057541,0.871740
std,0.0,128967.105713,87652.85996,45942.844889,80293.868281,4661.452139,1.455214,0.0,0.780561,0.635395
min,2018.0,0.006000,2.13400,-3926.000000,0.000000,-4231.066000,11.000000,3711.0,-1.416268,0.000000
25%,2018.0,1078.823250,504.68450,272.086500,884.498000,-8.372750,11.000000,3711.0,-0.047139,0.592726
50%,2018.0,6392.368500,7580.36500,2031.753500,8977.750000,244.275500,11.000000,3711.0,0.123559,0.749882
75%,2018.0,93960.874250,70563.62325,23531.763750,105610.058750,3306.525000,14.000000,3711.0,0.187646,1.120863
max,2018.0,468714.000000,283120.00000,185594.000000,272776.000000,16992.000000,14.000000,3711.0,2.366878,2.306956

In [10]:
#comparing GM to average
df2018[df2018['sic'] == 3711].sort_values(by = 'ato', ascending = False)

,tic,conm,datadate,fyear,at,lt,teq,revt,ni,exchg,sic,roe,ato
605,SHYF,THE SHYFT GROUP INC,31DEC2018,2018,353.784,167.702,186.082,816.164,15.012,14.0,3711.0,0.080674,2.306956
731,LCII,LCI INDUSTRIES,31DEC2018,2018,1243.893,537.638,706.255,2475.807,148.551,11.0,3711.0,0.210336,1.990370
725,OSK,OSHKOSH CORP,30SEP2018,2018,5294.200,2780.700,2513.500,7705.500,471.900,11.0,3711.0,0.187746,1.455461
349,NAV,NAVISTAR INTERNATIONAL CORP,31OCT2018,2018,7230.000,11156.000,-3926.000,10250.000,340.000,11.0,3711.0,-0.086602,1.417704
932,FCAU,FIAT CHRYSLER AUTOMOBILES NV,31DEC2018,2018,110909.664,82398.279,28511.385,126410.433,4130.791,11.0,3711.0,0.144882,1.139760
245,FSS,FEDERAL SIGNAL CORP,31DEC2018,2018,1023.800,493.700,530.100,1089.500,94.000,11.0,3711.0,0.177325,1.064173
4472,TTM,TATA MOTORS LTD,31MAR2019,2018,43114.505,35059.656,8054.849,43208.936,-4231.066,11.0,3711.0,-0.525282,1.002190
506,PCAR,PACCAR INC,31DEC2018,2018,25482.400,16889.500,8592.900,23495.700,2195.100,14.0,3711.0,0.255455,0.922036
322,HMC,HONDA MOTOR CO LTD,31MAR2019,2018,184275.838,106972.410,77303.428,143389.525,5507.900,11.0,3711.0,0.071250,0.778124
4301,TSLA,TESLA INC,31DEC2018,2018,29739.614,23426.010,5757.640,21461.268,-976.091,14.0,3711.0,-0.169530,0.721639
1766,RACE,FERRARI NV,31DEC2018,2018,5554.737,4004.730,1550.007,3915.917,898.376,11.0,3711.0,0.579595,0.704969
278,GM,GENERAL MOTORS CO,31DEC2018,2018,227339.000,184562.000,42777.000,147049.000,8014.000,11.0,3711.0,0.187344,0.646827
261,F,FORD MOTOR CO,31DEC2018,2018,256540.000,220474.000,35966.000,160338.000,3677.000,11.0,3711.0,0.102235,0.625002
1276,TM,TOYOTA MOTOR CORP,31MAR2019,2018,468714.000,283120.000,185594.000,272776.000,16992.000,11.0,3711.0,0.091555,0.581967
2594,NIO,NIO INC -ADR,31DEC2018,2018,2739.605,1554.590,991.758,719.874,-1404.595,11.0,3711.0,-1.416268,0.262766
4300,WKHS,WORKHORSE GROUP INC,31DEC2018,2018,11.805,27.227,-15.422,0.763,-36.502,14.0,3711.0,2.366878,0.064634
2359,FUV,ARCIMOTO INC,31DEC2018,2018,14.085,6.018,8.067,0.095,-11.051,14.0,3711.0,-1.369902,0.006745
2801,RONN,RONN MOTOR GROUP -REDH,31DEC2018,2018,0.006,2.134,-2.283,0.000,-0.338,14.0,3711.0,0.148051,0.000000

In [11]:
df2018[df2018['sic'] == 3711].describe()
#We would say they underperformed in asset turnover compared to industry average since the average was .87 and theirs was .647.

,fyear,at,lt,teq,revt,ni,exchg,sic,roe,ato
count,18.0,18.000000,18.00000,18.000000,18.000000,18.000000,18.000000,18.0,18.000000,18.000000
mean,2018.0,76087.829778,54090.68300,21949.959222,53616.804556,1990.277056,12.000000,3711.0,0.057541,0.871740
std,0.0,128967.105713,87652.85996,45942.844889,80293.868281,4661.452139,1.455214,0.0,0.780561,0.635395
min,2018.0,0.006000,2.13400,-3926.000000,0.000000,-4231.066000,11.000000,3711.0,-1.416268,0.000000
25%,2018.0,1078.823250,504.68450,272.086500,884.498000,-8.372750,11.000000,3711.0,-0.047139,0.592726
50%,2018.0,6392.368500,7580.36500,2031.753500,8977.750000,244.275500,11.000000,3711.0,0.123559,0.749882
75%,2018.0,93960.874250,70563.62325,23531.763750,105610.058750,3306.525000,14.000000,3711.0,0.187646,1.120863
max,2018.0,468714.000000,283120.00000,185594.000000,272776.000000,16992.000000,14.000000,3711.0,2.366878,2.306956